@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --background: #030637;
    --primary: #058C42;
    --secondary: rgba(255, 255, 255, 0.1);
    --tertiary: #0D2818;
    --header-color: #030637;
    --end-color: #ff00ae;
    --start-color: #0a2e91;
    --visited-node-1: #ff00bb58;
    --visited-node-2: #970f5cb2;
    --visited-node-3: #720455;
    --shortest-path: rgb(83, 178, 255);
    --wall-color:rgb(0, 0, 0);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    z-index:1;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}

button:hover {
    background:white;
    color:black;
    outline:none;
}
